@page "/"
@namespace ServerSideAuthenticationExample.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}
@*1번*@
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery antiforgery

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ServerSideAuthenticationExample</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="ServerSideAuthenticationExample.styles.css" rel="stylesheet" />
</head>
<body>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    @{
        //1번
        var token = antiforgery.GetAndStoreTokens(HttpContext).RequestToken;

        //1번 => param-AntiforgeryToken="token"
    }
    <component type="typeof(App)" render-mode="ServerPrerendered" param-AntiforgeryToken="token" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>


    <script>
        //디버그 빌드시 자동 리로드. 인증과 상관없음
        Blazor.defaultReconnectionHandler._reconnectCallback = function (d) {
            console.warn("_reconnectCallback");
            start_reload("/");
        }

        function start_reload(url) {
            $.ajax({
                type: "GET",
                url: url,
                timeout: 3000
            }).done(function (result) {
                console.log("working");
                document.location.reload();
            }).fail(function () {
                console.log("fail, retry");
                setTimeout(function () {
                    start_reload(url);
                }, 1000);
            });
        }
    </script>
</body>
</html>
